@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Alura Challenge Back-End 3</h1>
    
    <div class="mt-5 d-inline-block">
        <h3> IMPORTAR TRANSAÇÕES</h3>
        <input type="file" id="importar" name="importar" />
    </div>

</div>
